

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <title> COVID - 19 Job Support | Career Page</title>

    <meta property="og:url" content="https://www.careers-page.com/covidjobsupport" />
    
    <link rel='shortcut icon' type='image/x-icon' href='https://jb-app-backend-assets.s3.amazonaws.com/media/client_logo/Covid19_logosource-03.png?AWSAccessKeyId=AKIAIINVBYAV2U5CJMMQ&amp;Signature=rit2PU%2FP7vozgtV1ZIzt07dRc6g%3D&amp;Expires=1593659207' />
    <meta property='og:image' content="https://jb-app-backend-assets.s3.amazonaws.com/media/client_logo/Covid19_logosource-03.png?AWSAccessKeyId=AKIAIINVBYAV2U5CJMMQ&amp;Signature=rit2PU%2FP7vozgtV1ZIzt07dRc6g%3D&amp;Expires=1593659207"/>
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    
    
    <meta property="og:type" content="covidjobsupport | job | jobs" />
    
    <link rel="stylesheet" type="text/css" href="https://jb-app-backend-static.s3.amazonaws.com/static/career_page/css/theme_3/style.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121401291-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-121401291-4');
    </script>
    <style>
    .primary-color {
        color: #1976d2;
    }
    .bg-primary-color {
        background-color: #1976d2;
    }
    .btn-info, .btn-info:hover {
        background-color: #1976d2;
    }
    .btn-apply, .btn-apply:hover {
        background-color: #1976d2 !important;
        border-color: #1976d2 !important;
    }
    .search-form{
      width: fit-content;
      margin: 0px auto 20px;
      padding: 10px;
      width: 60%;
    }
    .select2-container{
      width: 100% !important;
    }
    .search-dropdown-options{
      position: absolute;
      margin: 5px -12px;
      width: calc(100% - 17px);
      border: 1px solid #cacaca;
      border-top: 0px;
      z-index: 1;
      background: #fff;
      max-height: 200px;
      overflow: auto;
      border-radius: 0px 0px 6px 6px;
    }
    .search-dropdown-options li{
      cursor: pointer;
    }
    .search-dropdown-options ul li:hover{
      background-color: #5897fb;
      color: white;
    }
    .search-dropdown-options label{
      width: calc(100% - 22px);
      font-size: 14px;
    }
    .search-dropdown-placeholder{
      font-size: 14px;
      margin: 3px;
      cursor: pointer;
    }
    .select2-container--default .select2-selection--single{
      height: 38px !important;
    }
    .select2-container--default .select2-selection--single{
      height: 38px !important;
      border: 1px solid #ced4da !important;
    }
    .select2-selection__arrow{
      height: 36px !important;
    }
    .select2-results__option{
      font-size: 14px;
    }
    .select2-selection__rendered{
      line-height: 38px !important;
      font-size: 14px;
      color: #969696;
    }
    .width-100{
      width: 100%;
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      font-size: 14px;
      color: #969696;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      font-size: 14px;
      color: #969696;
    }
    :-ms-input-placeholder { /* IE 10+ */
      font-size: 14px;
      color: #969696;
    }
    :-moz-placeholder { /* Firefox 18- */
      font-size: 14px;
      color: #969696;
    }
    @media (max-width: 575px) {
      .search-form{
        width: 100%;
      }
    }
    .positions { font-size: 16px; color: #808080; }
    .serach_count { padding: 4px; }
    .empty-result { color: #808080; }
    .fa-chevron-right{ padding: 0px 8px;}
    </style>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&amp;display=swap" rel="stylesheet">
    
  </head>

  <body>

<div id="app">
  <div
    class="banner d-flex flex-column justify-content-center align-items-center text-center"
    style="
        background-color:#1976d2;
        
        "
  >
    <h1 class="mt-5">Beat The COVID Effect! Find The Job Here.</h1>
    <a href="#openings" >
      <button
          type="button"
          class="btn btn-lg btn-outline-light mt-4"
          
          >

          View Openings
      </button>
    </a>
  </div>
  <div class="gallery container mt-5 pt-1 pb-4">
    <div class="row px-5">
        
        
        
    </div>
  </div>
  <div class="container mb-5 px-xl-5">
    <div style="text-align: center;"><font face="sans-serif"><span style="font-size: 12px;">
<span style="color: rgb(28, 30, 33); font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;">We are a bunch of philanthropic professionals belonging to various industries, volunteering to connect job seekers and employers in the post-COVID 19 era.</span>

&nbsp;</span></font></div>
  </div>
  <hr id="openings" class="mt-5 mx-5" />
  <div class="mt-5 text-center">
      <h1 id="scroll">Our Openings</h1>
      <h4 class="positions">
        
        149 Open Positions
        
      </h4>
  </div>
  
  <div class="container mb-5 px-xl-5">
    <ul class="list-unstyled mx-3 mx-sm-4 mx-md-5 px-lg-5 pb-4">
      <template v-if="jobs.results && jobs.results.length > 0">
        <!-- after_js -->
        <li v-for="job in jobs.results" class="media">
          <div class="media-body">
            <a :href="getJobUrl(job)" class="text-secondary">
              <h5 class="mt-0 mb-1 primary-color">
                [[ job.position_name ]]
                <i v-if="job.is_pinned_in_career_page" class="fas fa-bookmark"></i>
              </h5>
            </a>
            <span class="text-secondary">
              <span v-if="job.city || job.state || job.country" style="margin-right: 10px;">
                <i class="fas fa-map-marker-alt" ></i> [[ getLocationString(job) ]]
              </span>
              
                <br v-if="job.city || job.state || job.country">
                <span><i class="fas fa-building "></i> [[ job.organization_name ]]</span>
              
            </span>
          </div>
          <a :href="getJobUrl(job)">
            <button
              type="button"
              class="btn btn-secondary btn-apply"
              style="background-color:#1976d2;"
              >Apply</button>
          </a>
          <br v-if ="job.city || job.state || job.country != 1">
          <br v-if ="job.city || job.state || job.country != 1">
        </li>
        <!-- after_js -->
      </template>
      <template v-else-if="jobs && jobs.length == 0">
        <!-- before_js -->
        
          <li class="media">
            <div class="media-body">
              <a href="/covidjobsupport/job/YRY6XV" class="text-secondary">
                <h5 class="mt-0 mb-1 primary-color">
                  Java Developer
                  
                </h5>
              </a>
              <span class="text-secondary">

              
                
                  <span style="margin-right: 10px;"><i class="fas fa-map-marker-alt" ></i> Mysuru, KA, India </span>
                  
                  <br>
                  
                
              
              
                
                <span><i class="fas fa-building "></i> Information Technology</span>
                
              

              
              <br>
              
              </span>
            </div>
            <a href="/covidjobsupport/job/YRY6XV">
              <button
                type="button"
                class="btn btn-secondary btn-apply"
                style="background-color:#1976d2;"
                >Apply</button>
            </a>
          </li>
        
          <li class="media">
            <div class="media-body">
              <a href="/covidjobsupport/job/XYX9VR" class="text-secondary">
                <h5 class="mt-0 mb-1 primary-color">
                  HR
                  
                </h5>
              </a>
              <span class="text-secondary">

              
                
                  <span style="margin-right: 10px;"><i class="fas fa-map-marker-alt" ></i> Bengaluru, KA, India </span>
                  
                  <br>
                  
                
              
              
                
                <span><i class="fas fa-building "></i> Human Resources</span>
                
              

              
              <br>
              
              </span>
            </div>
            <a href="/covidjobsupport/job/XYX9VR">
              <button
                type="button"
                class="btn btn-secondary btn-apply"
                style="background-color:#1976d2;"
                >Apply</button>
            </a>
          </li>
        
          <li class="media">
            <div class="media-body">
              <a href="/covidjobsupport/job/VYV69R" class="text-secondary">
                <h5 class="mt-0 mb-1 primary-color">
                  SOC Analyst
                  
                </h5>
              </a>
              <span class="text-secondary">

              
                
              
              
                
                <span><i class="fas fa-building "></i> Information Technology</span>
                
              

              
              <br>
              
              </span>
            </div>
            <a href="/covidjobsupport/job/VYV69R">
              <button
                type="button"
                class="btn btn-secondary btn-apply"
                style="background-color:#1976d2;"
                >Apply</button>
            </a>
          </li>
        
          <li class="media">
            <div class="media-body">
              <a href="/covidjobsupport/job/6V935R" class="text-secondary">
                <h5 class="mt-0 mb-1 primary-color">
                  Senior Biostatistician
                  
                </h5>
              </a>
              <span class="text-secondary">

              
                
                  <span style="margin-right: 10px;"><i class="fas fa-map-marker-alt" ></i> Mumbai, MH, India </span>
                  
                  <br>
                  
                
              
              
                
                <span><i class="fas fa-building "></i> Medical</span>
                
              

              
              <br>
              
              </span>
            </div>
            <a href="/covidjobsupport/job/6V935R">
              <button
                type="button"
                class="btn btn-secondary btn-apply"
                style="background-color:#1976d2;"
                >Apply</button>
            </a>
          </li>
        
          <li class="media">
            <div class="media-body">
              <a href="/covidjobsupport/job/W5W3RW" class="text-secondary">
                <h5 class="mt-0 mb-1 primary-color">
                  QA Engineer
                  
                </h5>
              </a>
              <span class="text-secondary">

              
                
                  <span style="margin-right: 10px;"><i class="fas fa-map-marker-alt" ></i> Pune, MH, India </span>
                  
                  <br>
                  
                
              
              
                
                <span><i class="fas fa-building "></i> Information Technology</span>
                
              

              
              <br>
              
              </span>
            </div>
            <a href="/covidjobsupport/job/W5W3RW">
              <button
                type="button"
                class="btn btn-secondary btn-apply"
                style="background-color:#1976d2;"
                >Apply</button>
            </a>
          </li>
        
          <li class="media">
            <div class="media-body">
              <a href="/covidjobsupport/job/R75YXX" class="text-secondary">
                <h5 class="mt-0 mb-1 primary-color">
                  Project Manager
                  
                </h5>
              </a>
              <span class="text-secondary">

              
                
                  <span style="margin-right: 10px;"><i class="fas fa-map-marker-alt" ></i> Mumbai, MH, India </span>
                  
                  <br>
                  
                
              
              
                
                <span><i class="fas fa-building "></i> Information Technology</span>
                
              

              
              <br>
              
              </span>
            </div>
            <a href="/covidjobsupport/job/R75YXX">
              <button
                type="button"
                class="btn btn-secondary btn-apply"
                style="background-color:#1976d2;"
                >Apply</button>
            </a>
          </li>
        
          <li class="media">
            <div class="media-body">
              <a href="/covidjobsupport/job/7W9X85" class="text-secondary">
                <h5 class="mt-0 mb-1 primary-color">
                  PMG Executive
                  
                </h5>
              </a>
              <span class="text-secondary">

              
                
                  <span style="margin-right: 10px;"><i class="fas fa-map-marker-alt" ></i> Ahmedabad, GJ, India </span>
                  
                  <br>
                  
                
              
              
                
                <span><i class="fas fa-building "></i> Operations</span>
                
              

              
              <br>
              
              </span>
            </div>
            <a href="/covidjobsupport/job/7W9X85">
              <button
                type="button"
                class="btn btn-secondary btn-apply"
                style="background-color:#1976d2;"
                >Apply</button>
            </a>
          </li>
        
          <li class="media">
            <div class="media-body">
              <a href="/covidjobsupport/job/87VX8R" class="text-secondary">
                <h5 class="mt-0 mb-1 primary-color">
                  .Net technical architect
                  
                </h5>
              </a>
              <span class="text-secondary">

              
                
                  <span style="margin-right: 10px;"><i class="fas fa-map-marker-alt" ></i> Mumbai, MH, India </span>
                  
                  <br>
                  
                
              
              
                
                <span><i class="fas fa-building "></i> Information Technology</span>
                
              

              
              <br>
              
              </span>
            </div>
            <a href="/covidjobsupport/job/87VX8R">
              <button
                type="button"
                class="btn btn-secondary btn-apply"
                style="background-color:#1976d2;"
                >Apply</button>
            </a>
          </li>
        
          <li class="media">
            <div class="media-body">
              <a href="/covidjobsupport/job/94W386" class="text-secondary">
                <h5 class="mt-0 mb-1 primary-color">
                  .Net core Senior Developer/Lead
                  
                </h5>
              </a>
              <span class="text-secondary">

              
                
                  <span style="margin-right: 10px;"><i class="fas fa-map-marker-alt" ></i> Mumbai, MH, India </span>
                  
                  <br>
                  
                
              
              
                
                <span><i class="fas fa-building "></i> Information Technology</span>
                
              

              
              <br>
              
              </span>
            </div>
            <a href="/covidjobsupport/job/94W386">
              <button
                type="button"
                class="btn btn-secondary btn-apply"
                style="background-color:#1976d2;"
                >Apply</button>
            </a>
          </li>
        
          <li class="media">
            <div class="media-body">
              <a href="/covidjobsupport/job/5R6W4R" class="text-secondary">
                <h5 class="mt-0 mb-1 primary-color">
                  Chartered Accountant
                  
                </h5>
              </a>
              <span class="text-secondary">

              
                
                  <span style="margin-right: 10px;"><i class="fas fa-map-marker-alt" ></i> Chennai, TN, India </span>
                  
                  <br>
                  
                
              
              
                
                <span><i class="fas fa-building "></i> BFSI</span>
                
              

              
              <br>
              
              </span>
            </div>
            <a href="/covidjobsupport/job/5R6W4R">
              <button
                type="button"
                class="btn btn-secondary btn-apply"
                style="background-color:#1976d2;"
                >Apply</button>
            </a>
          </li>
        
          <li class="media">
            <div class="media-body">
              <a href="/covidjobsupport/job/364WYW" class="text-secondary">
                <h5 class="mt-0 mb-1 primary-color">
                  UX Designer
                  
                </h5>
              </a>
              <span class="text-secondary">

              
                
                  <span style="margin-right: 10px;"><i class="fas fa-map-marker-alt" ></i> Kochi, KL, India </span>
                  
                  <br>
                  
                
              
              
                
                <span><i class="fas fa-building "></i> Information Technology</span>
                
              

              
              <br>
              
              </span>
            </div>
            <a href="/covidjobsupport/job/364WYW">
              <button
                type="button"
                class="btn btn-secondary btn-apply"
                style="background-color:#1976d2;"
                >Apply</button>
            </a>
          </li>
        
          <li class="media">
            <div class="media-body">
              <a href="/covidjobsupport/job/485R9V" class="text-secondary">
                <h5 class="mt-0 mb-1 primary-color">
                  Senior Frontend Developer
                  
                </h5>
              </a>
              <span class="text-secondary">

              
                
                  <span style="margin-right: 10px;"><i class="fas fa-map-marker-alt" ></i> Kochi, KL, India </span>
                  
                  <br>
                  
                
              
              
                
                <span><i class="fas fa-building "></i> Information Technology</span>
                
              

              
              <br>
              
              </span>
            </div>
            <a href="/covidjobsupport/job/485R9V">
              <button
                type="button"
                class="btn btn-secondary btn-apply"
                style="background-color:#1976d2;"
                >Apply</button>
            </a>
          </li>
        
          <li class="media">
            <div class="media-body">
              <a href="/covidjobsupport/job/VYV6XR" class="text-secondary">
                <h5 class="mt-0 mb-1 primary-color">
                  Quality Analyst
                  
                </h5>
              </a>
              <span class="text-secondary">

              
                
              
              
                
                <span><i class="fas fa-building "></i> Medical</span>
                
              

              
              <br>
              
              </span>
            </div>
            <a href="/covidjobsupport/job/VYV6XR">
              <button
                type="button"
                class="btn btn-secondary btn-apply"
                style="background-color:#1976d2;"
                >Apply</button>
            </a>
          </li>
        
          <li class="media">
            <div class="media-body">
              <a href="/covidjobsupport/job/XYX93R" class="text-secondary">
                <h5 class="mt-0 mb-1 primary-color">
                  Lead Engineer
                  
                </h5>
              </a>
              <span class="text-secondary">

              
                
                  <span style="margin-right: 10px;"><i class="fas fa-map-marker-alt" ></i> Gurugram, HR, India </span>
                  
                  <br>
                  
                
              
              
                
                <span><i class="fas fa-building "></i> Information Technology</span>
                
              

              
              <br>
              
              </span>
            </div>
            <a href="/covidjobsupport/job/XYX93R">
              <button
                type="button"
                class="btn btn-secondary btn-apply"
                style="background-color:#1976d2;"
                >Apply</button>
            </a>
          </li>
        
          <li class="media">
            <div class="media-body">
              <a href="/covidjobsupport/job/W5W3YW" class="text-secondary">
                <h5 class="mt-0 mb-1 primary-color">
                  Full Stack Developer
                  
                </h5>
              </a>
              <span class="text-secondary">

              
                
                  <span style="margin-right: 10px;"><i class="fas fa-map-marker-alt" ></i> Ahmedabad, GJ, India </span>
                  
                  <br>
                  
                
              
              
                
                <span><i class="fas fa-building "></i> Information Technology</span>
                
              

              
              <br>
              
              </span>
            </div>
            <a href="/covidjobsupport/job/W5W3YW">
              <button
                type="button"
                class="btn btn-secondary btn-apply"
                style="background-color:#1976d2;"
                >Apply</button>
            </a>
          </li>
        
          <li class="media">
            <div class="media-body">
              <a href="/covidjobsupport/job/R75Y4X" class="text-secondary">
                <h5 class="mt-0 mb-1 primary-color">
                  Engineer
                  
                </h5>
              </a>
              <span class="text-secondary">

              
                
                  <span style="margin-right: 10px;"><i class="fas fa-map-marker-alt" ></i> Hyderabad, Telangana, India </span>
                  
                  <br>
                  
                
              
              
                
                <span><i class="fas fa-building "></i> Engineering</span>
                
              

              
              <br>
              
              </span>
            </div>
            <a href="/covidjobsupport/job/R75Y4X">
              <button
                type="button"
                class="btn btn-secondary btn-apply"
                style="background-color:#1976d2;"
                >Apply</button>
            </a>
          </li>
        
          <li class="media">
            <div class="media-body">
              <a href="/covidjobsupport/job/YRY69V" class="text-secondary">
                <h5 class="mt-0 mb-1 primary-color">
                  Data Scientist
                  
                </h5>
              </a>
              <span class="text-secondary">

              
                
                  <span style="margin-right: 10px;"><i class="fas fa-map-marker-alt" ></i> Gurugram, HR, India </span>
                  
                  <br>
                  
                
              
              
                
                <span><i class="fas fa-building "></i> Operations</span>
                
              

              
              <br>
              
              </span>
            </div>
            <a href="/covidjobsupport/job/YRY69V">
              <button
                type="button"
                class="btn btn-secondary btn-apply"
                style="background-color:#1976d2;"
                >Apply</button>
            </a>
          </li>
        
          <li class="media">
            <div class="media-body">
              <a href="/covidjobsupport/job/7W9X65" class="text-secondary">
                <h5 class="mt-0 mb-1 primary-color">
                  Quality analyst
                  
                </h5>
              </a>
              <span class="text-secondary">

              
                
                  <span style="margin-right: 10px;"><i class="fas fa-map-marker-alt" ></i> Noida, UP, India </span>
                  
                  <br>
                  
                
              
              
                
                <span><i class="fas fa-building "></i> Operations</span>
                
              

              
              <br>
              
              </span>
            </div>
            <a href="/covidjobsupport/job/7W9X65">
              <button
                type="button"
                class="btn btn-secondary btn-apply"
                style="background-color:#1976d2;"
                >Apply</button>
            </a>
          </li>
        
          <li class="media">
            <div class="media-body">
              <a href="/covidjobsupport/job/87VX6R" class="text-secondary">
                <h5 class="mt-0 mb-1 primary-color">
                  HR executive
                  
                </h5>
              </a>
              <span class="text-secondary">

              
                
                  <span style="margin-right: 10px;"><i class="fas fa-map-marker-alt" ></i> Hyderabad, Telangana, India </span>
                  
                  <br>
                  
                
              
              
                
                <span><i class="fas fa-building "></i> Human Resources</span>
                
              

              
              <br>
              
              </span>
            </div>
            <a href="/covidjobsupport/job/87VX6R">
              <button
                type="button"
                class="btn btn-secondary btn-apply"
                style="background-color:#1976d2;"
                >Apply</button>
            </a>
          </li>
        
          <li class="media">
            <div class="media-body">
              <a href="/covidjobsupport/job/5R6W3R" class="text-secondary">
                <h5 class="mt-0 mb-1 primary-color">
                  Research Analyst
                  
                </h5>
              </a>
              <span class="text-secondary">

              
                
                  <span style="margin-right: 10px;"><i class="fas fa-map-marker-alt" ></i> Bengaluru, KA, India </span>
                  
                  <br>
                  
                
              
              
                
                <span><i class="fas fa-building "></i> Operations</span>
                
              

              
              <br>
              
              </span>
            </div>
            <a href="/covidjobsupport/job/5R6W3R">
              <button
                type="button"
                class="btn btn-secondary btn-apply"
                style="background-color:#1976d2;"
                >Apply</button>
            </a>
          </li>
        
        <!-- before_js -->
      </template>
      <template v-else>
        <h5 class="text-center empty-result">We did not find any job matching your search criteria.</h5>
      </template>
    </ul>

    <div class="row justify-content-center" v-if="display_django_pagination">
      <div class="col-2">
          
          <button type="button" disabled="disabled" class="btn btn-light">
            Previous
          </button>
          
      </div>
      <div class="col-2">
          
            <a href="?page=2" type="button" class="btn btn-secondary btn-apply"
            style="background-color:#1976d2;">Next</a>
          
      </div>
    </div>




  
  <div class=" py-4  text-center text-black bg-light">
    <div class="container">
      <div class="col-md-12">
        <h1>Submit your application</h1>
      </div>
      <div class="col-md-12">
        <p>At this current situation compianes are not actively publishing their jobs. But most of the Hiring Managers &amp; HR's are looking for good resumes and shortlist.&nbsp; So feel free to update your CV's and increase your accesability.&nbsp;</p>
      </div>
      <div class="col-md-12">
        <a href="/covidjobsupport/apply" class="btn btn-lg bg-primary-color text-white" role="button" aria-disabled="true">
          Apply now
        </a>
      </div>
    </div>
  </div>
  <br>
  
</div>

    </main>
    
    
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>

  <script>
  const baseUrl = "https://www.careers-page.com";
  const clientSlug = "covidjobsupport";
  const country_list = []
  const organization_list = []
  const city_list = []
  const enable_search_by_city = "False";
  const organization_singular_name = "client";
  const organization_plural_name = "clients";

  const vm = new Vue({
  delimiters: ['[[', ']]'],
  el: '#app',
  data: {
    organizationName: organization_singular_name,
    organizationNames: organization_plural_name,
    jobs: [],
    showCityDropdown: false,
    showCountryDropdown: false,
    showOrgDropdown: false,
    locations: enable_search_by_city === 'True' ? city_list : country_list,
    organizations: organization_list,
    countrySelected: [],
    citySelected: [],
    organizationSelected: [],
    searchTerm: '',
    selectedLocation: '',
    selectedOrganization: '',
    currentPage: 1,
    pageSize: 50,
    apiBaseURL: `${baseUrl}/api/v1.0/c/${clientSlug}/`,
    display_django_pagination: true,
    display_search_positions: false,
    count: 0,
    isSearching: false,
  },
  mounted() {
    let that = this;
    $(document).mouseup(function(e)
    {
        let container = $(".search-dropdown-options");
        if (!container.is(e.target) && container.has(e.target).length === 0)
        {
          that.showCityDropdown = false;
          that.showCountryDropdown = false;
          that.showOrgDropdown = false;

          container.hide();
        }
    });
  },
  methods: {
    paginateResults(direction){
      this.currentPage = direction === 'prev' ? this.currentPage - 1 : this.currentPage+1;
      this.searchJobs();
    },
    toggleCity(city, country) {
      const ids = country.cities.map(obj => obj.id);
      let isAllCitySelected = true;
      for (let i = 0; i < ids.length; i++) {
        const isCitySelected = this.citySelected.filter(obj => obj.toString() === ids[i].toString()).length > 0;
        if (!isCitySelected) {
          isAllCitySelected = false;
          break;
        }
      }
      if (!isAllCitySelected) {
        this.countrySelected = this.countrySelected.filter(obj => obj.toString() !== country.id.toString());
      } else {
        this.countrySelected.push(country.id.toString());
      }
    },
    toggleCountries(val) {
      const isSelected = this.countrySelected.filter(obj => obj.toString() === val.id.toString()).length > 0;
      if (isSelected) {
        const ids = val.cities.map(obj => obj.id);
        for (let i = 0; i < ids.length; i++) {
          const isCitySelected = this.citySelected.filter(obj => obj.toString() === ids[i].toString());
          if (isCitySelected) {
            this.citySelected.push(ids[i]);
          }
        }
      } else {
        const ids = val.cities.map(obj => obj.id);
        for (let i = 0; i < ids.length; i++) {
          this.citySelected = this.citySelected.filter(obj => obj !== ids[i]);
        }
      }
    },
    getJobUrl(job){
      return `${baseUrl}/${clientSlug}/job/${job.hash}`;
    },
    getLocationString(job){
      return `${job.city ? job.city+',': ''} ${job.state ? job.state+',': ''} ${job.country}`;
    },
    searchJobs() {
      this.display_django_pagination = false;
      this.display_search_positions = true;
      let url = this.apiBaseURL+'jobs/?page_size='+this.pageSize+'&page='+this.currentPage+'&';

      let selectedLocationType = enable_search_by_city === 'True' ? 'city_new__in' : 'country_new__in';
      let selectedLocations = enable_search_by_city === 'True' ? this.citySelected.map(obj => obj).concat() : this.countrySelected.map(obj => obj).concat();
      let selectedOrganizations = this.organizationSelected.map(obj => obj).concat()

      url += `${this.searchTerm ? 'search='+this.searchTerm+'&' : ''}${selectedLocations ? selectedLocationType+'='+selectedLocations+'&' : ''}${selectedOrganizations ? 'organization__in='+selectedOrganizations+'&' : ''}`;
      url += `ordering=-is_pinned_in_career_page,-last_published_at`;
      this.isSearching = true;
      axios
        .get(url)
        .then(response => {
          this.isSearching = false;
          this.count = response.data.count
          this.jobs = response.data;
          $(".search-dropdown-options").hide();
        })
        .catch(error => console.log(error))
    }
  }
  });
  </script>

  </body>
</html>
